{% extends 'base.html' %}

{%block title%} Sexto Andar! {% endblock %}

{% block content %}

<div class="container">
  <h1><center>Adicionar Usuario</center></h1>
</div>


   <form action="/adicionar_usuario" method="POST">
       <div class="mb-3">
           <label class="form-label">Usuario</label>
           <input type="text" class="form-control" id="InputUsuario" name="InputUsuario">
           <div id="emailHelp" class="form-text"></div>
       </div>
       
       <div class="mb-3">
           <label class="form-label">Senha</label>
           <input type="password" class="form-control" id="InputSenha" name="InputSenha">
           <div id="passwordHelpBlock" class="form-text">
            Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces, special characters, or emoji.
          </div>
       </div>

       <div class="mb-3">
           <label class="form-label">Função</label>
           <input type="text" class="form-control" id="InputUsuario" name="InputFuncao">
           <div id="emailHelp" class="form-text"></div>
       </div>
       
       <button type="submit" name="cadastrar" class="btn btn-primary">Cadastrar</button>
       <button type="subimir name="voltar" class="btn btn-primary">Voltar</button>
   
   </form>
{% endblock %}
