{% extends 'base.html' %}

{%block title%} Sexto Andar! {% endblock %}

{% block content %}

<div class="container pt-5">
    <p style="text-align:center">
    <a href="{{ url_for('crud_corretor')}}" class="btn btn-outline-primary btn-lg">Corretores</a>
    <a href="{{ url_for('crud_cliente')}}" class="btn btn-outline-primary btn-lg">Clientes</a>
    <a href="{{ url_for('crud_proprietario')}}" class="btn btn-outline-primary btn-lg">Proprietarios</a>
    <a href="{{ url_for('crud_endereco')}}" class="btn btn-outline-primary btn-lg">Enderecos</a>
    </p>
</div>

{% endblock %}