{% extends 'base.html' %}

{%block title%} Sexto Andar! {% endblock %}

{% block content %}

<div class="container">
    <h1><center>Imoveis disponiveis</center></h1>
    <br>
    <div class="card-group">
        {% for apt in apts %}

        <div class="card">
            <img src= {{apt[2]}} class="card-img-top" alt="..." width="50%" height="50%">
            <div class="card-body">
                <h5 class="card-title">Titulo</h5>
                <p class="card-text">Descrição</p>
                <a href="#" class="btn btn-primary">Alugar</a>
            </div>
        </div>

        {% endfor %}
    </div>
    
    <center>
        
        <br>
        <h1>Buscar por Imoveis</h1>
        <br>
        
        <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>

    </center>
</div>  

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

{% endblock %}