{% extends 'base.html' %}

{%block title%} Sexto Andar! {% endblock %}

{% block content %}

<div class="container">
    <h1><center>Imoveis disponiveis</center></h1>
    <br>
    <div class="row slider">
    {% for imovel in imoveis %}
          <div class="card">
              <img src= {{imovel[2]}} class="card-img-top" alt="..." width="500px" height="260px">
              <div class="card-body">
                  <h5 class="card-title">{{imovel[3].descricao}}</h5>
                  {% set cod = imovel[3].codigo %}
                  <a href="{{ url_for('view', imovel=cod) }}" class="btn btn-primary">Saiba mais</a>
                </div>
              </div>
              {% endfor %}
            </div>
            
    {% if back %}
      <br>
      <center>
        <a href="{{ url_for('imoveis') }}" class="btn btn-primary">Voltar</a>
      </center>
    {% endif %}

    <center>
        <br>
        <h1>Buscar por Imoveis</h1>
        <br>
        
        <form action="/imoveis" method="POST" class="d-flex">
            <select class="form-select" aria-label="Search" name="tipoImovel">
              <option disabled selected hidden>Imoveis</option>
              <option value="Apartamento">Apartamento</option>
              <option value="Casa">Casa</option>
              <option value="Kitnet">Kitnet</option>
            </select>
            <button class="btn btn-outline-success" type="submit">Buscar</button>
        </form>       
    </center>
</div>  

<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js" integrity="sha512-HGOnQO9+SP1V92SrtZfjqxxtLmVzqZpjFFekvzZVWoiASSQgSr4cw9Kqd2+l8Llp4Gm0G8GIFJ4ddwZilcdb8A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>
$('.slider').slick({
  dots: true,
  infinite: false,
  speed: 300,
  slidesToShow: 3,
  slidesToScroll: 1,
  responsive: [
    {
      breakpoint: 1024,
      settings: {
        slidesToShow: 3,
        slidesToScroll: 3,
        infinite: true,
        dots: true
      }
    },
    {
      breakpoint: 600,
      settings: {
        slidesToShow: 2,
        slidesToScroll: 2
      }
    },
    {
      breakpoint: 480,
      settings: {
        slidesToShow: 1,
        slidesToScroll: 1
      }
    }
    // You can unslick at a given breakpoint now by adding:
    // settings: "unslick"
    // instead of a settings object
  ]
});
</script>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

{% endblock %}