{% extends 'base.html' %}

{%block title%} Login {% endblock %}

{% block content %}


<div class="container">
    <h1>Login Page</h1>
    <br/><br/>
    
    <form action="/login" method="POST">
    <div class="mb-3">
        <label class="form-label">User</label>
        <input type="text" class="form-control" id="InputUser" aria-describedby="emailHelp" name="InputUser" value="">
        <div id="emailHelp" class="form-text"></div>
    </div>
    
    <div class="mb-3">
        <label class="form-label">Password</label>
        <input type="password" class="form-control" id="InputPassword" name="InputPassword">
    </div>
    
    <!– ver depois como trocar a cor do sign up –>
    <button type="submit" name="sign_in" class="btn btn-primary">Sign In</button>
    <button type="submit" name="sign_up" class="btn btn-outline-primary">Sign Up</button>

</form>

</div>

{% if error_statement %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{ error_statement }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}

{% endblock %}