{% extends 'base.html' %}

{%block title%} Sexto Andar! {% endblock %}

{% block content %}

<div class="container">
    <h1><center>Adicionar Usuario</center></h1>

    <form action="/sign_up" method="POST">
        <div class="mb-3">
           <label class="form-label">Nome</label>
           <input type="text" class="form-control" id="InputName" name="InputName">
           <div id="Name" class="form-text"></div>
        </div>

        <div class="mb-3">
            <label class="form-label">Email</label>
            <input type="email" class="form-control" id="InputEmail" name="InputEmail" placeholder="name@example.com">
            <div id="Email" class="form-text"></div>
        </div>
       
        <div class="mb-3">
           <label class="form-label">Senha</label>
           <input type="password" class="form-control" id="InputPassword" name="InputPassword">
           <div id="Password" class="form-text"></div>
        </div>

        <div class="mb-3">
           <label class="form-label">Data de Nascimento</label>
           <input type="date" class="form-control" id="InputDateBirth" name="InputDateBirth">
           <div id="DateBirth" class="form-text"></div>
        </div>

        <!– alterar depois o checkbox –>
        <div><h5>Sexo</h5></div>

        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="Feminino" id="Feminino">
            <label class="form-check-label" for="radio1">Feminino</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="Masculino" id="Masculino">
            <label class="form-check-label" for="radio2">Masculino</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="Outro" id="Outro">
            <label class="form-check-label" for="radio3">Outro</label>
          </div>

        <p></p>

        <div><h5>Endereço</h5></div>
        
        <div class="mb-3">
            <label class="form-label">CEP</label>
            <input type="text" class="form-control" id="InputZipcode" name="InputZipcode">
            <div id="CEP" class="form-text"></div>
        </div>

        <div class="mb-3">
            <label class="form-label">Rua</label>
            <input type="text" class="form-control" id="InputStreet" name="InputStreet">
            <div id="Rua" class="form-text"></div>
        </div>

        <div class="mb-3">
            <label class="form-label">Bairro</label>
            <input type="text" class="form-control" id="InputRegion" name="InputRegion">
            <div id="Bairro" class="form-text"></div>
        </div>

        <div class="mb-3">
            <label class="form-label">Cidade</label>
            <input type="text" class="form-control" id="InputCity" name="InputCity">
            <div id="Cidade" class="form-text"></div>
        </div>

        <!– alterar depois obrigatoriedade dos bgl –>
        <div class="mb-3">
            <label class="form-label">Numero</label>
            <input type="text" class="form-control" id="InputNumber" name="InputNumber">
            <div id="Numero" class="form-text"></div>
        </div>

        <div class="mb-3">
            <label class="form-label">Complemento</label>
            <input type="text" class="form-control" id="InputAddressComplement" name="InputAddressComplement">
            <div id="Complemento" class="form-text"></div>
        </div>

        <p></p>

        <div><h5>Cadastrar como:</h5></div>
        <!– alterar depois para corretor horario de trabalho –>

        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" value="ON" name="Cliente" id="Cliente">
            <label class="form-check-label" for="Cliente"> Cliente </label>
        </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" value="ON" name="Corretor" id="Corretor"/>
            <label class="form-check-label" for="Corretor"> Corretor </label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" value="ON" name = "Proprietario" id="Proprietario">
            <label class="form-check-label" for="Proprietario"> Proprietário </label>
          </div>
          
          <div id="autoupdate" class="autoupdate">
            <div class="mb-3">
              <label class="form-label">Horario Inicial</label>
              <input type="text" class="form-control" id="InputHorarioInicialCorretor" name="InputHorarioInicialCorretor">
              <div id="HorarioInicialCorretor" class="form-text"></div>
            </div>

            <div class="mb-3">
              <label class="form-label">Horario Inicial</label>
              <input type="text" class="form-control" id="InputHorarioFinalCorretor" name="InputHorarioFinalCorretor">
              <div id="HorarioFinalCorretor" class="form-text"></div>
            </div>

          </div>

        <script
          src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"> 
        </script>

        <script>
          $(document).ready(function () {
            $('#autoupdate').hide();
            $('#Corretor').change(function () {
                if (this.checked) 
                  $('#autoupdate').fadeIn('slow');
                else 
                    $('#autoupdate').fadeOut('slow');
              });
            });
        </script>

        <p></p>

       
        <button type="submit" name="cadastrar" class="btn btn-primary">Cadastrar</button>
        <button type="submit" name="voltar" class="btn btn-primary">Voltar</button>

        

        <p><br></p>
   
    </form>
</div>
{% endblock %}
